# **Theory Questions Answers**

**1. What are data structures, and why are they important?**

- Data structures are organized ways to store, manage, and retrieve data in a computer. They help organize data for efficient processing, making it easier to perform tasks like searching, sorting, and updating data.

**2. Explain the difference between mutable and immutable data types with examples.**

- 	Mutable: Can be changed after creation.
Example: Lists (``), dictionaries.

- Immutable: Cannot be changed after creation.
Example: Tuples ((1, 2, 3)), strings ("hello"), integers.

**3. What are the main differences between lists and tuples in Python?**

- 	Lists: Mutable, can be modified (items added, removed, changed).

- 	Tuples: Immutable, cannot be modified after creation.

- 	Performance: Tuples are generally faster.

**4. Describe how dictionaries store data?**

- Dictionaries store data as key-value pairs. Each unique key maps to a value, and you access values using keys, not indexes.

**5. Why might you use a set instead of a list in Python?**

- Sets automatically remove duplicates and provide faster membership checking (in). Useful for unique collections.

**6. What is a string in Python, and how is it different from a list?**

- A string is a sequence of characters (immutable), while a list is a sequence of items (mutable, can contain any data type).

**7. How do tuples ensure data integrity in Python?**

- Their immutability prevents accidental modification, making them ideal for fixed data and keys in dictionaries.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table stores data using a hash function that maps keys to positions. Python's dictionaries are implemented using hash tables, allowing fast access.

**9. Can lists contain different data types in Python?**

- Yes. Lists can hold elements of different types (e.g. [1, "hello", 3.14, ]).

**10. Explain why strings are immutable in Python?**

- Immutability makes strings faster to process, share, and cache; it prevents accidental changes and enables safe use as dictionary keys.

**11. What advantages do dictionaries offer over lists for certain tasks?**

- 	Fast access using unique keys,

- 	More natural mapping for labeled data,

- Easier data retrieval without needing numeric indexes.

**12. Describe a scenario where using a tuple would be preferable over a list.**

- When storing fixed data, like coordinates (x, y), or using as a dictionary key, since tuples are hashable and immutable.

**13. How do sets handle duplicate values in Python?**

- Sets remove duplicates automatically; only unique elements are stored.

**14. How does the “in” keyword work differently for lists and dictionaries?**

- 	List: Checks if a value exists among the elements.
- Dictionary: Checks if a value exists among the keys.

**15. Can you modify the elements of a tuple? Explain why or why not?**

- No. Tuples are immutable; you can't add, remove, or change elements after creation.

**16. What is a nested dictionary, and give an example of its use case?**

- A dictionary where values are dictionaries.
Example: Storing student records: { "Alice": {"math": 90, "eng": 80}, "Bob": {"math": 85, "eng": 88} }.

**17. Describe the time complexity of accessing elements in a dictionary?**

- Average case: O(1) due to hash table implementation.

**18. In what situations are lists preferred over dictionaries?**

- When order matters, you need sequential access, or you have unlabeled collections.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Before Python 3.7, dictionaries did not maintain order. Even now, although insertion order is preserved, you do not access items by order but by key, so retrieval is by key instead of position.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

- 	List: Access by numeric index (e.g., my_list).
- 	Dictionary: Access by key (e.g., my_dict["name"]).

# **Practical Questions**

In [56]:
# 1. Write a code to create a string with your name and print it.
name = "Raj Chhapariya"
print(name)

Raj Chhapariya

In [57]:
# 2. Write a code to find the length of the string "Hello World" .

str = "Hello world"
print(len(str))

11

In [58]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming" .
str = "Python Programming"
print(str[0:3])

Pyt

In [59]:
# 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
print(str.upper())

HELLO

In [60]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = "I like apple"

print(str.replace("apple", "orange"))

I like orange

In [61]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

lst = []

for i in range(1, 6):
  lst.append(i)

print(lst)

[1, 2, 3, 4, 5]

In [62]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lst =[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [63]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [64]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [65]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [66]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [67]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') .

tup =  ('red', 'green', 'blue', 'yellow')
print(tup[1:4])

('green', 'blue', 'yellow')

In [68]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tup =  (10, 20, 5, 15)
print(min(tup))

5

In [69]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [70]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup = ('apple', 'kiwi', 'pineapple')
print('kiwi' in tup)

True

In [71]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [72]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [73]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

s={1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [74]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))

{1, 2, 3, 4, 5}

In [75]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a={1, 2, 3}
b={2, 3, 4}
print(a.intersection(b))

{2, 3}

In [76]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

print(dict(name = "Raj Chhapariya", age = 23, city = "Varanasi"))

{'name': 'Raj Chhapariya', 'age': 23, 'city': 'Varanasi'}

In [77]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dt = {'name': 'John', 'age': 25}
dt['country'] = 'USA'
print(dt)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [78]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dt = {'name': 'Alice', 'age': 30}
print(dt['name'])

Alice

In [79]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dt = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dt.pop('age')
print(dt)

{'name': 'Bob', 'city': 'New York'}

In [80]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dt = {'name': 'Alice', 'city': 'Paris'}
print("city" in dt)

True

In [81]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
print("My List:", my_list)

my_tuple = (10, 20, 30, 40, 50)
print("My Tuple:", my_tuple)

my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("My Dictionary:", my_dict)

My List: [1, 2, 3, 4, 5]
My Tuple: (10, 20, 30, 40, 50)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [86]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

lst = [1, 45, 69, 34, 96]
lst.sort()
print("replaced:", lst)

replaced: [1, 34, 45, 69, 96]

In [83]:
# 28. Write a code to create a list with strings and print the element at the third index.

lst = ['raj', 'raju', 'rajveer', 'rajendar', 'ram']
print(lst[3])

rajendar

In [84]:
# 29. Write a code to combine two dictionaries into one and print the result.

dt1 = {'name': 'Raj', 'age': 23}
dt2 = {'city': 'Varanasi', 'country': 'India'}

dt1.update(dt2)
print(dt1)

{'name': 'Raj', 'age': 23, 'city': 'Varanasi', 'country': 'India'}

In [85]:
# 30. Write a code to convert a list of strings into a set.

lst = ['raj', 'raju', 'rajveer', 'rajendar', 'ram']
print(set(lst))

{'rajendar', 'raju', 'rajveer', 'raj', 'ram'}